@{
    ViewBag.Title = "Home Page";
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    <body background="~/image/movies.png">

        <style>

             .body{
                 
             }

              .body-content{
                  margin: 0;
                  margin-top:-15px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                 -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                  text-align:center;
                  text-shadow:2px 2px 4px #000000;
            }

            .center {
                margin: 0px;
                margin-top:150px;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
          

            
        </style>
        <div class="container body-content">


                <h1>Unlimited movies, series, and more.</h1>
                <h3> Site for manage movies rentals</h3>
                <h3>you need to login to manage movies rentals </h3>

                <a class="center btn btn-primary"  href="">Register Now</a>

        </div>

   
    </body>
</html>

}
